# SPDX-FileCopyrightText: Contributors to Open-TYNDP <https://github.com/open-energy-transition/open-tyndp>
#
# SPDX-License-Identifier: MIT

NT:
  tyndp_scenario: NT
  sector:
    h2_zones_tyndp: false
    co2_sequestration_potential:
      # Values from TYNDP 2024 Supply Tool
      2030: 47
      2035: 167
      2040: 344

DE:
  tyndp_scenario: DE
  electricity:
    extendable_carriers:
      Generator:
      - onwind
      - solar-pv-utility
      - solar-pv-rooftop
      - offwind-ac-fb-r
      - offwind-ac-fl-r
      - offwind-dc-fb-r
      - offwind-dc-fl-r
      - offwind-dc-fb-oh
      - offwind-dc-fl-oh
      - offwind-h2-fb-oh
      - offwind-h2-fl-oh
      - OCGT
      - CCGT
  sector:
    h2_zones_tyndp: true
    force_biomass_potential: false
    force_biogas_potential: false
    land_transport_ice_share:  # TODO Improve TYNDP 2024 approximations
      2030: 0.96
      2035: 0.7  # interpolation
      2040: 0.44
      2045: 0.3  # interpolation
      2050: 0.16
    co2_sequestration_potential:
      # Values from TYNDP 2024 Supply Tool
      2030: 60
      2035: 90
      2040: 120
      2045: 135
      2050: 150

GA:
  tyndp_scenario: GA
  electricity:
    extendable_carriers:
      Generator:
      - onwind
      - solar-pv-utility
      - solar-pv-rooftop
      - offwind-ac-fb-r
      - offwind-ac-fl-r
      - offwind-dc-fb-r
      - offwind-dc-fl-r
      - offwind-dc-fb-oh
      - offwind-dc-fl-oh
      - offwind-h2-fb-oh
      - offwind-h2-fl-oh
      - OCGT
      - CCGT
  sector:
    h2_zones_tyndp: true
    force_biomass_potential: false
    force_biogas_potential: false
    land_transport_ice_share:  # TODO Improve TYNDP 2024 approximations
      2030: 0.96
      2035: 0.73  # interpolation
      2040: 0.50
      2045: 0.34  # interpolation
      2050: 0.17
    co2_sequestration_potential:
      # Values from TYNDP 2024 Supply
      2030: 48
      2035: 167
      2040: 344
      2045: 398
      2050: 400
