# SPDX-FileCopyrightText: Contributors to Open-TYNDP <https://github.com/open-energy-transition/open-tyndp>
#
# SPDX-License-Identifier: MIT

NT:
  tyndp_scenario: NT
  sector:
    co2_sequestration_potential:
      # Values from TYNDP 2024 Scenario report Fig. 45, p.59
      2030: 47
      2035: 195.5  # linearly interpolated
      2040: 344

DE:
  tyndp_scenario: DE
  electricity:
    extendable_carriers:
      Generator:
      - onwind
      - solar-pv-utility
      - solar-pv-rooftop
      - offwind-ac-fb-r
      - offwind-ac-fl-r
      - offwind-dc-fb-r
      - offwind-dc-fl-r
      - offwind-dc-fb-oh
      - offwind-dc-fl-oh
      - offwind-h2-fb-oh
      - offwind-h2-fl-oh
      - OCGT
      - CCGT
  sector:
    co2_sequestration_potential:
      # Values from TYNDP 2024 Scenario report Fig. 45, p.59
      2030: 47
      2035: 83.5  # linearly interpolated
      2040: 120
      2045: 135  # linearly interpolated
      2050: 150

GA:
  tyndp_scenario: GA
  electricity:
    extendable_carriers:
      Generator:
      - onwind
      - solar-pv-utility
      - solar-pv-rooftop
      - offwind-ac-fb-r
      - offwind-ac-fl-r
      - offwind-dc-fb-r
      - offwind-dc-fl-r
      - offwind-dc-fb-oh
      - offwind-dc-fl-oh
      - offwind-h2-fb-oh
      - offwind-h2-fl-oh
      - OCGT
      - CCGT
  sector:
    co2_sequestration_potential:
      # Values from TYNDP 2024 Scenario report Fig. 45, p.59
      2030: 47
      2035: 195.5  # linearly interpolated
      2040: 344
      2045: 398  # linearly interpolated
      2050: 452
