# SPDX-FileCopyrightText: Contributors to Open-TYNDP <https://github.com/open-energy-transition/open-tyndp>
#
# SPDX-License-Identifier: MIT

NT:
  tyndp_scenario: NT
sector:
  force_biomass_potential: true
  force_biogas_potential: true

DE:
  tyndp_scenario: DE
  electricity:
    extendable_carriers:
      Generator:
      - onwind
      - solar-pv-utility
      - solar-pv-rooftop
      - offwind-ac-fb-r
      - offwind-ac-fl-r
      - offwind-dc-fb-r
      - offwind-dc-fl-r
      - offwind-dc-fb-oh
      - offwind-dc-fl-oh
      - offwind-h2-fb-oh
      - offwind-h2-fl-oh
      - OCGT
      - CCGT
  sector:
    force_biomass_potential: false
    force_biogas_potential: false

GA:
  tyndp_scenario: GA
  electricity:
    extendable_carriers:
      Generator:
      - onwind
      - solar-pv-utility
      - solar-pv-rooftop
      - offwind-ac-fb-r
      - offwind-ac-fl-r
      - offwind-dc-fb-r
      - offwind-dc-fl-r
      - offwind-dc-fb-oh
      - offwind-dc-fl-oh
      - offwind-h2-fb-oh
      - offwind-h2-fl-oh
      - OCGT
      - CCGT
  sector:
    force_biomass_potential: false
    force_biogas_potential: false
